@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

:root {
    --header-height: 3.5rem;

    --black-color: hsl(257, 6%, 14%);
    --black-color-light: hsl(257, 6%, 16%);
    --black-color-lighten: hsl(257, 4%, 20%);
    --black-color-alt: hsl(257, 4%, 30%);
    --white-color: #fff;
    --body-color: hsl(257, 6%, 12%);

    --first-color: hsl(31, 97%, 71%);
    --first-color-alt: hsl(33, 87%, 73%);
    --text-color-light: hsl(0, 0%, 64%);

    --body-font: "Poppins", sans-serif;
    --subtitle-font: "Dancing Script", cursive;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    @media screen and (min-width: 1024px){
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;
}