.footer {
    padding-block: 3rem 2rem;
    overflow: hidden;

    &__container {
        row-gap: 3rem;
    }

    &__logo {
        img {
            margin-bottom: .25rem;
        }
    }

    &__link,
    &__information {
        font-size: var(--small-font-size);
    }

    &__content,
    &__links {
        display: grid;
    }

    &__content {
        grid-template-columns: repeat(2, max-content);
        gap: 2.5rem;
    }

    &__title {
        font-size: var(--h3-font-size);
        margin-bottom: 1.5rem;
    }

    &__links {
        row-gap: .5rem;
    }

    &__link {
        color: var(--white-color);

        &:hover {
            color: var(--first-color);
        }
    }

    &__social {
        display: flex;
        column-gap: 1.25rem;

        &-link {
            color: var(--first-color);
            font-size: 1.25rem;
            transition: color .3s, transform .3s;

            &:hover {
                color: var(--first-color-alt);
                transform: translateY(-2px);
            }
        }
    }

    &__information {
        margin-bottom: .75rem;
    }

    &__copy {
        text-align: center;
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
    }
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 340px) {
    .footer__content {
        gap: 1.5rem;
    }
}

@media screen and (min-width: 576px) {
    .footer__content {
        grid-template-columns: repeat(3, max-content);
    }
}

@media screen and (min-width: 767px) {
    .footer__content {
        grid-template-columns: repeat(4, max-content);
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding-block: 8rem 3rem;

        &__container {
            grid-template-columns: repeat(2, max-content);
            justify-content: space-between;
        }

        &__content {
            column-gap: 4rem;
        }

        &__title,
        &__text,
        &__link,
        &__information {
            font-size: var(--normal-font-size);
        }

        &__social {
            &-link {
                font-size: 1.5rem;
            }
        }

        &__copy {
            margin-top: 1.5rem;
        }
    }
}